.clothing-bedding-list {
  display: inline-block;
  width: 45%;
}

.cb-check-list {
  display: block;
  color: #b0afaf;
  padding: 13px 6px;
}

.cb-tips-content {
  display:block;
  color: #8B2E00;
  line-height: 40px;
  font-size: 22px;
  margin: 50px;
}
