.sidebar-wrapper {
  padding: 42px;
  display: block;
  width: 366px;
  background: #1d1c1c !important;
}

.not-chosen {
  font-size: 30px;
  border: none;
  margin: 20px 0;
  color: #706e6e;
}

.chosen {
  font-size: 30px;
  border: none;
  margin: 20px 0;
  color: #ffffff;
}

.mat-menu-item {
  display: block;
}
