<div class="label l7">Storage</div>
<div class="words-wrapper">
  <div class="storage-header">
    Store all items in a cool, dry, protected place with easy access in an emergency.
  </div>
  <div class="storage-content">
    <ul>
      <li>
        Store the supplies near an exit to facilitate loading into vehicles if forced to leave quickly.
      </li>
      <div class="blank"></div>
      <li>
        Storage place depends on the risks prone to the area:
        <br> Wind storms : keep the supplies in the basement
        <br> Flooding : store items on upper floors
        <br> Smaller homes and apartments : concern about the store space
      </li>
    </ul>
  </div>
</div>