.water-left-content {
  display: inline-block;
  color: #8B2E00;
  font-size: 20px;
  padding: 10px;
  line-height: 55px;
}

.water-right-content {
  display: inline-block;
  color: #8B2E00;
  font-size: 20px;
  padding: 10px 80px 10px 10px;
  line-height: 55px;
}

.right-wrapper-chart {
  float: right;
}
